.swipeButtons {
    position: fixed;
    bottom: 10vh;
    margin: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)!important;
}

.swipeButtons__repeat {
    padding: .8vw !important;
    color: #f5b748 !important;
}
.swipeButtons__left {
    padding: .8vw !important;
    color: #ec5e6f !important;
}
.swipeButtons__star {
    padding: .8vw !important;
    color: #62b4f9 !important;
}
.swipeButtons__right {
    padding: .8vw !important;
    color: #76e2b3 !important;
}
.swipeButtons__lightning {
    padding: .8vw !important;
    color: #915dd1 !important;
}